Repository paseaf/ContainerSSH-honeypot, pull requests merged in 2022-06, with the labels that each got.

#14 Set up Prometheus and node exporter
  README.md
  diagrams/infra.drawio.svg
  terraform/README.md
  terraform/files/prometheus.yml
  terraform/main.tf
  terraform/scripts/download_node_exporter.sh
  terraform/scripts/run_minio.sh
  terraform/scripts/run_node_exporter.sh
  terraform/scripts/run_prometheus.sh
  terraform/variables.tf
Labels: deployment

#19 Set up CA
  packer/.gitignore
  packer/README.md
  packer/files/config.yaml
  packer/main.pkr.hcl
  packer/scripts/apt_get_wait_lock.sh
  packer/scripts/containerssh_config.sh
  packer/scripts/install_docker.sh
  packer/scripts/update_apt_packages.sh
  packer/variables.pkr.hcl
  terraform/.terraform.lock.hcl
  terraform/Deploy ContainerSSH.md
  terraform/README.md
  terraform/files/prometheus.yml
  terraform/main.tf
  terraform/scripts/run_docker_container.sh
  terraform/scripts/setup_ca.sh
  terraform/variables.tf
Labels: bug, documentation, deployment, packer

#22 Build ContainerSSH guest image
  packer/files/Dockerfile
  packer/main.pkr.hcl
  packer/scripts/build_containerssh_guest_image.sh
  packer/scripts/install_docker.sh
  packer/scripts/update_apt_packages.sh
Labels: deployment, packer

#23 Set up ContainerSSH and automate CA config
  diagrams/demo.drawio.svg
  diagrams/infra.drawio.svg
  packer/files/Dockerfile
  packer/files/config.yaml
  packer/main.pkr.hcl
  packer/scripts/containerssh_config.sh
  packer/scripts/install_docker.sh
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/files/config.yaml
  terraform/main.tf
  terraform/scripts/download_node_exporter.sh
  terraform/scripts/move_certs_to_gateway_vm.sh
  terraform/scripts/run_docker_container.sh
  terraform/scripts/run_minio.sh
  terraform/scripts/run_node_exporter.sh
  terraform/scripts/run_prometheus.sh
  terraform/scripts/set_up_and_run_containerssh.sh
  terraform/scripts/set_up_ca.sh
  terraform/scripts/setup_ca.sh
  terraform/terraform.tf
Labels: documentation, enhancement, deployment

#26 Monitoring
  README.md
  diagrams/demo.drawio.svg
  diagrams/infra.drawio.svg
  packer/main.pkr.hcl
  packer/scripts/create_node_exporter_service.sh
  packer/scripts/download_node_exporter.sh
  packer/scripts/install_docker.sh
  packer/variables.pkr.hcl
  terraform/files/prometheus.yml
  terraform/grafana/provisioning/dashboards/containerSSH.json
  terraform/grafana/provisioning/dashboards/dashboard.yml
  terraform/grafana/provisioning/datasources/datasource.yml
  terraform/main.tf
  terraform/scripts/run_cadvisor.sh
  terraform/scripts/run_grafana.sh
  terraform/scripts/run_minio.sh
  terraform/scripts/run_node_exporter.sh
  terraform/scripts/run_prometheus.sh
  terraform/scripts/set_up_and_run_containerssh.sh
Labels: deployment, packer, monitor
